// Nomad Podman Driver Configuration
// Docs : https://developer.hashicorp.com/nomad/docs/configuration/tls
// Github: https://github.com/hashicorp/nomad-driver-podman

plugin "nomad-driver-podman" {
  config {
    socket_path = "unix:///run/podman/podman.sock"
    volumes {
      enabled      = true
      selinuxlabel = "z"
    }
    gc {
      container = true
    }
    extra_labels = ["job_name", "job_id", "task_group_name", "task_name", "namespace", "node_name", "node_id"]
  }
}