// Nomad ACL Configuration
// Heavily recommend keeping this on by default for all environments to standardize the practice
// Note: ACLs require additional setup and configuration
// Bootstrap : https://developer.hashicorp.com/nomad/docs/secure/acl/bootstrap
// ACL : https://developer.hashicorp.com/nomad/docs/secure/acl
acl {
  enabled = true
}