# Nomad Client Configuration
datacenter = "{{ nomad_datacenter }}"
region     = "{{ nomad_region }}"
data_dir   = "{{ nomad_data_dir }}"

bind_addr = "0.0.0.0"

client {
  enabled = true
  servers = ["provider={{ cloud_provider }} tag_key=nomad_cluster tag_value={{ nomad_datacenter }}"]
}

telemetry {
  collection_interval        = "1s"
  disable_hostname           = true
  prometheus_metrics         = true
  publish_allocation_metrics = true
  publish_node_metrics       = true
}

}
