// Nomad Server Configuration
// Docs : https://developer.hashicorp.com/nomad/docs/configuration/server

server {
  enabled          = true
  bootstrap_expect = {{ nomad_bootstrap_expect }}
  server_join {
    retry_join = ["provider={{ nomad_cloud_provider }} tag_key=nomad_cluster tag_value={{ nomad_datacenter }}"]
  }

  encrypt = "add-during-cluster-creation"

if {{ nomad_enterprise }} {
  # redundancy_zone = "zone1" // Enterprise only: specify redundancy zones for addtional fault tolerance
  # license_path    = {{ nomad_license_dir }}/license.hclic // Enterprise only: path to license file
}

}

