// Nomad TLS Configuration
// Docs : https://developer.hashicorp.com/nomad/docs/configuration/tls

tls {
  http      = true
  rpc       = true
  cert_file = "{{ nomad_tls_dir }}/cert.pem"
  key_file  = "{{ nomad_tls_dir }}/key.pem"
  ca_file   = "{{ nomad_tls_dir }}/bundle.pem"

  verify_server_hostname = true
  verify_https_client    = false
}